@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

.nunito-font {
  font-family: "Nunito Sans", sans-serif;
}

.icon-font {
  color: blue;
  font-weight: 500;
  font-size: 2rem;
  font-family: "Edu NSW ACT Foundation", cursive;
}

.opacity-flicker {
  opacity: 0.7;
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

body::-webkit-scrollbar {
  width: 1.2em;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: gray;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.highlight-none {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spin {
  animation: 1.5s linear infinite spinner;
}

.text-hashGrad {
  background-image: url("../public/assets/hash-grad.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: rgb(136, 136, 136);
  font-size: 40px;
  font-family: "GT Walsheim Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  letter-spacing: -1px;
  white-space: normal;
  line-height: 1.1;
  margin: 0px;
  padding: 0px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
